.banners{
  height: 80vh;
}
.nav-item{
  font-weight: 500;
  font-size: larger;
  margin-left: 10px;
}
.nav-link{
  color:rgb(249, 200, 3) ;
}
.box{
  border: 2px solid black;
  margin: 20px 0px;
  border-radius: 10px;
}
